@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  padding: 0;
  border: 0;
  background: none;
  cursor: pointer;
  line-height: 1;
}

a, a:hover {
  text-decoration: none;
}

body {
  overflow: hidden;
  min-height: 100vh;
}

.wrapper {
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.gallery {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.image {
  -ms-interpolation-mode: nearest-neighbor;
      image-rendering: -webkit-optimize-contrast;
      image-rendering: -moz-crisp-edges;
      image-rendering: -o-pixelated;
      image-rendering: pixelated;
}

.character-Sasuke {
  /* Таким образом если герой смотрит вправо, блок будет расти вправо; если герой смотрит влево, необходимо поставить flex-end, и 
  инвертировать значение в left*/
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.character-Sasuke__Sasuke-crop {
  margin: 0 auto;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.character-Sasuke__ability-crop {
  position: relative;
  overflow: hidden;
}
.character-Sasuke__weapon-crop {
  position: relative;
  overflow: hidden;
}

.Sasuke-crop__gallery {
  left: 0;
  bottom: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ability-crop__gallery {
  bottom: 0;
  left: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.weapon-crop__gallery {
  bottom: 0;
  left: 0;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}