@import 'reset.scss';

.wrapper{
	height: 70vh;
	display: flex;
	justify-content: center;
	align-items: flex-end;
}

.gallery{
	position: absolute;
	display: flex;
}

.image{
	image-rendering: pixelated;
}

.character-Sasuke{
	&__Sasuke-crop{
		margin: 0 auto;
		position: relative;
		overflow: hidden;
	}

	&__ability-crop{
		position: relative;
		overflow: hidden;
	}
}

.Sasuke-crop{
	&__gallery{
		left: 0;
		bottom: 0;
		align-items: flex-end;
	}
}

.ability-crop{
	&__gallery{
		bottom: 0;
		left: 0;
		align-items: flex-end;
	}
}