@import 'reset.scss';

.wrapper{
	height: 70vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	overflow: hidden;
}

.gallery{
	position: absolute;
	display: flex;
}

.image{
	image-rendering: pixelated;
	// background: #EAEAEA;
}

.character-Sasuke{
	/* Таким образом если герой смотрит вправо, блок будет расти вправо; если герой смотрит влево, необходимо поставить flex-end, и 
	инвертировать значение в left*/
	align-self: flex-start;
	position: relative;

	&__Sasuke-crop{
		margin: 0 auto;
		position: relative;
		overflow: hidden;
		transform-origin: right;
	}

	&__ability-crop{
		position: relative;
		overflow: hidden;
	}
}

.Sasuke-crop{
	&__gallery{
		left: 0;
		bottom: 0;
		align-items: flex-end;
	}
}

.ability-crop{
	&__gallery{
		bottom: 0;
		left: 0;
		align-items: flex-end;
	}
}